body, html {
  /* background-image: linear-gradient(to top, rgb(53, 183, 216) 0%  #ddfafd 100%, #b2ffff 100%, #cfecee 100%); */
  background-image: url("background-img.jpeg"); 
  background-position: right-top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  margin-top: 15px;
}

.jumbotron {
  margin-top: 15px;
  background-image: url("jumbotron-background.jpg");
  /* background-color: rgb(173, 243, 167); */
  border: 3px solid rgb(19, 32, 153);
  height: 250px;
  width: 950px;
  color: cornsilk;
  border-radius: 10px;
}

.carousel-item {
  text-align: center;
}

.featured-vehicle-display {
  margin: 10px;
  background-color: rgb(58, 123, 245);
  border: 1px solid rgb(4, 69, 209);
  border-radius: 5px;
  text-align: center;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 4px rgb(1, 78, 165);
  -webkit-box-shadow: 3px 3px 5px 4px rgb(1, 78, 165);
  box-shadow:         3px 3px 5px 4px rgb(1, 78, 165);
}

.vehicle-header {
  font-size: 24px;
  font-weight: bold;
}

.vehicle-content {
  font-size: 18px;
}

.quick-search {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.search-text {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}



.search-vehicle, .vehicle-details {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
}

.checkmark {
  background-color: rgb(173, 246, 183);
  width: 200px;
  border-radius: 100%;
}

.success-message {
  text-align: center;
}

.error {
  color: rgb(187, 17, 17);
}