#navvy {
  width: 100%;
  height: 70px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#carIcon {
  margin: 10px 10px 0 15px;
}

.navComponent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navComponent p {
  margin-left: 10px;
  line-height: 70px;
}

.navComponent a {
  text-decoration: none;
  color: black;
}

.navComponent .nav-text:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

#login-btn {
  margin: 15px 15px 0 0;
}

main {
  margin-left: 5%;
}

label {
  width: 120px;
}
