body {
  margin: 0;
  padding: 0;
}

/* Navbar */

#navvy {
  width: 100%;
  height: 70px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#carIcon {
  margin: 10px 10px 0 15px;
}

.navComponent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.navComponent p {
  margin-left: 10px;
  line-height: 70px;
}

.navComponent a {
  text-decoration: none;
  color: black;
}

.navComponent .nav-text:hover {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

#login-btn {
  margin: 15px 15px 0 0;
}

#user-dropdown {
  margin: 15px 15px 0 0;
}

#user-dropdown-items {
  display: none;
  text-align: right;
  width: 200px;
  float: right;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

#user-dropdown-items div {
  padding-right: 15px;
  border: thin solid #fff;
}

#user-dropdown-items a {
  text-decoration: none;
  color: #fff;
}

.user-dropdown-item {
  padding-top: 10px;
}

#admin-nav {
  display: none;
}

#sales-nav {
  display: none;
}

/* Jumbotron */

#special-jumbo {
  background-color: transparent;
  margin: 0 15px 0 15px;
  padding: 0 0 0 0;
}

/* Standard Headings */

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.title-item {
  margin-left: 8px;
}

/* Specials Carousel */

.special-title {
  font-size: 4em;
}

.special-details {
  font-size: 1.5em;
}

.carousel-item {
  height: 500px;
}

.carousel-item img {
  max-height: 500px;
}

/* Feature Div */

.features-display {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

.feature {
  height: 600px;
  width: 350px;
  margin: 0 10px 0 10px;
  border-radius: 8px;
}

.feature-img {
  height: 250px;
  width: 100%;
  border-radius: 5px;
}

.feature-details {
  background: linear-gradient(#eef2f3, #fff);
  border-radius: 5px;
}

.feature-title1,
.feature-title2,
.feature-details {
  padding-left: 5px;
}

.feature-title1 h3 {
  font-size: 1.5em;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 4px;
}

.feature-title2 h3 {
  font-size: 1.3em;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 4px;
}
